<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:Android="http://schemas.android.com/apk/distribution"
    package="es.regueirorodriguezignacioproyectopmdm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/iconoaplicacion"
        android:label="Pelival"
        android:roundIcon="@mipmap/iconoaplicacion_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RegueiroRodriguezIgnacioProyectoPMDM">
        <activity
            android:name=".EdicionActivity"
            android:exported="false" />
        <activity
            android:name=".Formulario_Pelicula"
            android:exported="false" />
        <activity
            android:name=".Detalle_Pelicula_Activity"
            android:exported="true" />
        <activity
            android:name=".ListaPeliculasActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegistroActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>